@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* RESET */
*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button, 
textarea {
    font: inherit;
}

/* VARIABLES USED THROUGHOUT CODE*/

:root {
  /*FONTS AND FONT SIZES*/
  --FF: "Nunito", sans-serif;
  --FS: clamp(1rem, 2.2vh, 1.5rem);
  --FS-NAV: clamp(1.75rem, 4vh, 2.5rem);
  --FS-TITLE: clamp(1.5rem, 5vh, 2rem);
  --MOBILE-FS-XL: clamp(4rem, 6vh, 5rem);
  --FS-XL: clamp(5rem, 8vh, 6rem);

  /*COLORS FOR ELEMENTS*/
  --BGCOLOR-FADE: rgb(252, 220, 160);
  --bg-color: #cce2cb;
  --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
  --BODY-BGCOLOR: #FFF; 
  --BORDER-COLOR: #000;
  --BUTTON-COLOR: #FFF;
  --FONT-COLOR: #000;
  --HEADER-BGCOLOR: #FFF;
  --HEADER-COLOR: #FFF;
  --HERO-BGCOLOR: rgba(51, 178, 51, 0.75);
  --HERO-COLOR: #FFF;
  --HIGHLIGHT-COLOR: rgb(51, 178, 51);
  --LINK-ACTIVE: orange;
  --LINK-COLOR: #000;
  --LINK-HOVER: #f5f5f5;
  --NAV-BGCOLOR: #FFF;

  /*BORDERS*/
  --BORDERS: 1px solid var(--BORDER-COLOR);
  --BORDER-RADIUS: 15px;

  /* STANDARD PADDING */
  --PADDING-TB: 0.25em;
  --PADDING-SIDE: 2.5%;

  /* STANDARD MARGIN */
  --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;

  /* GAP */
  --GAP: clamp(1rem, 5vw, 2rem);
}

/* UTILITY CLASSES */
.offscreen {
  position: absolute;
  left: -100000px;
}

.display_none {
  display: none;
}
.nowrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}
/*Sets general rules for HTML*/
html {
  scroll-behavior: smooth;
  font-family: var(--FF);
  font-size: var(--FS);
  background-color: var(--BGCOLOR);
}
/*Positions header*/
.header {
  position: static;
  top: 0;
  z-index: 1;
  border-bottom: var(--BORDERS);
}

.header__img {
  display: none;
}
/*Sets colors for header*/
.header__nav {
  background-color: var(--bg-color);
  font-weight: bold;
}
/*Defines styling such as font, padding, and spacing for the items in the header*/
.header__ul {
  font-size: var(--FS-NAV);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--GAP);
}

.header-title-line {
  display: none;
}
/*Creates the down facing arrow for once the dropdowns are pressed*/
.dropdown-arrow::after {
  font-family: FontAwesome;
  font-size: 1.5rem;
  content: "\f107";
  padding-left: 8px;
}

/* Dropdown button styling */
.dropdown-button, .header__li a {
  background-color: var(--BGCOLOR); 
  text-decoration: none;
  color: var(--FONT-COLOR); 
  border: none; 
  font-size: var(--FS-NAV); 
  cursor: pointer; 
}
/*Sets color for when you hover on a link*/
.dropdown-button:hover, .header__li a:hover {
  background-color: var(--LINK-HOVER); 
}
/*Defines sizing, colors, and font for dropdowns*/
.dropdown-content {
  display: none; 
  font-size: var(--FS);
  position: absolute;
  background-color: #cce2cb !important;
  min-width: 135px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
  z-index: 1; 
}
/*Defines how to display dropdowns when toggled on*/
.dropdown-content.visible {
  display: block;
}

.dropdown-content ul {
  list-style: none; 
  padding: 0; 
}
/*Defines spacing for items in dropdown list*/
.dropdown-content ul li {
  padding: 4px 2px; 
  text-align: left;
}
/*Sets hover color for dropdowns(when you hover over an item, the color the bg turns)*/
.dropdown-content ul li:hover {
  background-color: gray; 
}
/*Defines text size, color, and padding for items in dropdowns*/
.dropdown-content ul li a {
  text-decoration: none; 
  color: var(--FONT-COLOR); 
  display: block; 
  padding: 4px 8px; 
}
/*sets background colors for all header elements, and uses important to keep them consistent*/
.header {
  background-color: var(--bg-color) !important;
}

.header__nav {
  background-color: var(--bg-color) !important;
}

.header__ul {
  background-color: var(--bg-color) !important;
}

.header__li {
  background-color: var(--bg-color) !important;
  opacity: 1 !important;
}
/*Makes it so that the header image will stand out compared to the background*/
.header__img, .li__img {
  mix-blend-mode: multiply;
}

.header__li {
  background-color: white;
}

.dropdown-content ul li a:hover {
  background-color: #ddd;
}
/*Defines colors in dark mode*/
[data-theme="dark"] {
  --bg-color: #000000;
  --text-color: #ffffff;
}
/*Sets background and text color to be a variable, allowing for dark mode editing*/
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.flag-icon {
        width: 32px;
        height: 32px;
      }
/*Defines size and font for search box???*/
.neighborhood-discovery {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  height: 100%;
  position: relative;
  width: 100%;
}

.neighborhood-discovery a {
  color: #4285f4;
  text-decoration: none;
}
/*Sets details for button, essentially making sure there's no way it looks different*/
.neighborhood-discovery button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-size: inherit;
  padding: 0;
}

.neighborhood-discovery .info {
  color: #555;
  font-size: 0.9em;
  margin-top: 0.3em;
}
/*Sets details for the side panel*/
.neighborhood-discovery .panel {
  background: #cce2cb;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  overflow-y: auto;
  position: absolute;
  top: 0;
  width: 20em;
}

.neighborhood-discovery .panel.no-scroll {
  overflow-y: hidden;
}
/*sets the default constraints for the photos*/
.neighborhood-discovery .photo {
  background-color: #dadce0;
  background-position: center;
  background-size: cover;
  border-radius: 0.3em;
  cursor: pointer;
}

.neighborhood-discovery .navbar {
  background: var(--bg-color);
  position: sticky;
  top: 0;
  z-index: 2;
}

.neighborhood-discovery .right {
  float: right;
}
/*makes the favorite button in a consistent location and appearance*/
.neighborhood-discovery .star-icon {
  filter: invert(88%) sepia(60%) saturate(2073%) hue-rotate(318deg) brightness(93%) contrast(104%);
  height: 1.2em;
  margin-right: -0.3em;
  margin-top: -0.08em;
  vertical-align: top;
  width: 1.2em;
}

.neighborhood-discovery .star-icon:last-child {
  margin-right: 0.2em;
}
/*puts the map in a reliable position*/
.neighborhood-discovery .map {
  bottom: 0;
  left: 20em;
  position: absolute;
  right: 0;
  top: 0;
}
/*sets media in the correct positions*/
@media only screen and (max-width: 640px) {
  .neighborhood-discovery .panel {
    right: 0;
    top: 50%;
    width: unset;
  }

  .neighborhood-discovery .map {
    bottom: 50%;
    left: 0;
  }
}

/* --------------------------- PLACES PANEL --------------------------- */
/*gives shadow to places panel*/
.neighborhood-discovery .places-panel {
  box-shadow: 0 0 10px rgb(60 64 67 / 28%);
  z-index: 1;
}

.neighborhood-discovery .places-panel header {
  padding: 0.5em;
}
/*Sets general rules for search bar*/
.neighborhood-discovery .search-input input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  box-sizing: border-box;
  font-size: 1em;
  height: 2.2em;
  padding: 0 2.5em 0 1em;
  width: 100%;
}
/*Positions search button*/
.neighborhood-discovery .search-input button {
  position: absolute;
  right: 0.8em;
  top: 0.8em;
}

.neighborhood-discovery .show-more-button {
  bottom: 0.5em;
  display: none;
  left: 28%;
  line-height: 1.5em;
  padding: 0.6em;
  position: relative;
  width: 44%;
}

.neighborhood-discovery .show-more-button.sticky {
  background: var(--bg-color);
  border-radius: 1.5em;
  box-shadow: 0 4px 10px rgb(60 64 67 / 28%);
  position: sticky;
  z-index: 2;
}

.neighborhood-discovery .show-more-button:disabled {
  opacity: 0.5;
}

.neighborhood-discovery .place-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.neighborhood-discovery .place-result {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
  display: flex;
  padding: 0.8em;
}

.neighborhood-discovery .place-result .text {
  flex-grow: 1;
}

.neighborhood-discovery .place-result .name {
  font-size: 1em;
  font-weight: 500;
  text-align: left;
}

.neighborhood-discovery .place-result .photo {
  flex: 0 0 4em;
  height: 4em;
  margin-left: 0.8em;
}

/* -------------------------- DETAILS PANEL --------------------------- */

.neighborhood-discovery .details-panel {
  display: none;
  z-index: 20;
}

.neighborhood-discovery .details-panel .back-button {
  color: #4285f4;
  padding: 0.9em;
}

.neighborhood-discovery .details-panel .back-button .icon {
  /* Match link color #4285f4 */
  filter: invert(47%) sepia(71%) saturate(2372%) hue-rotate(200deg) brightness(97%) contrast(98%);
  height: 1.2em;
  width: 1.2em;
  vertical-align: bottom;
}

.neighborhood-discovery .details-panel header {
  padding: 0.9em;
}

.neighborhood-discovery .details-panel h2 {
  font-size: 1.4em;
  font-weight: 400;
  margin: 0;
}

.neighborhood-discovery .details-panel .section {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0.9em;
}

.neighborhood-discovery .details-panel .contact {
  align-items: center;
  display: flex;
  font-size: 0.9em;
  margin: 0.8em 0;
}

.neighborhood-discovery .details-panel .contact .icon {
  width: 1.5em;
  height: 1.5em;
}

.neighborhood-discovery .details-panel .contact .text {
  margin-left: 1em;
}

.neighborhood-discovery .details-panel .contact .weekday {
  display: inline-block;
  width: 5em;
}

.neighborhood-discovery .details-panel .photos {
  text-align: center;
}

.neighborhood-discovery .details-panel .photo {
  display: inline-block;
  height: 5.5em;
  width: 5.5em;
}

.neighborhood-discovery .details-panel .review {
  margin-top: 1.2em;
}

.neighborhood-discovery .details-panel .review .reviewer-avatar {
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  height: 1.8em;
  margin-right: 0.8em;
  width: 1.8em;
}

.neighborhood-discovery .details-panel .review .reviewer-name {
  color: #202124;
  font-weight: 500;
  line-height: 1.8em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.neighborhood-discovery .details-panel .review .rating {
  margin: 0.5em 0;
}

.neighborhood-discovery .details-panel .attribution {
  color: #777;
  margin: 0;
  font-size: 0.8em;
  font-style: italic;
}

/* --------------------------- PHOTO MODAL ---------------------------- */

.neighborhood-discovery .photo-modal {
  background: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.neighborhood-discovery .photo-modal > img {
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.neighborhood-discovery .photo-modal > div {
  border-radius: 0.4em;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  margin: 1em;
  padding: 0.9em;
  position: absolute;
}

.neighborhood-discovery .photo-modal .back-button .icon {
  filter: brightness(0) invert(1);
  margin: 0.4em 0.6em 0 0;
}

.neighborhood-discovery .photo-modal .photo-text {
  float: right;
}

.neighborhood-discovery .photo-modal .photo-attrs {
  font-size: 0.8em;
  margin-top: 0.3em;
}
.custom-map-control-button, #showFilterButton {
  background-color: #cce2cb !important; /* Force the background color */
  color: var(--text-color) !important; /* Force text color */
  border: none !important; /* Force removal of border */
  padding: 10px 20px !important;
  margin: 10px !important;
  height: 40px !important;
  font-size: 16px !important;
  cursor: pointer !important;
  border-radius: 5px !important; /* Optional: adds rounded corners */
}

.mapfavorite-btn,
.report-btn {
  position: absolute !important;
  top: 10px !important;
  right: 15px !important;
  display: block !important; /* Ensure they are visible */
  background: #cce2cb;
  border: none;
  font-size: 18px;
  cursor: pointer;
  z-index: 1000 !important; /* Ensure they are on top */
}

.mapfavorite-btn {
  right: 50px !important; /* Space it properly */
}

.report-btn {
  right: 10px !important;
  background-color: var(--bg-color);
  color: white !important;
  mix-blend-mode: multiply;
}

.mapfavorite-btn:hover {
  transform: scale(1.2);
}
/*Changes colors for dark mode*/
[data-theme="dark"].custom-map-control-button {
  background-color: black !important; /* Force the background color */
  color: white !important;
}
.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}
#filterContainer {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange buttons in a row (default) */
  justify-content: space-around; /* Distribute space evenly */
  align-items: center; /* Align buttons vertically in the container */
  gap: 15px; /* Add spacing between buttons */
  padding: 10px; /* Add padding around the container */
  position: absolute; /* Allow positioning relative to the map or page */
  bottom: 165px; /* Adjust vertical position */
  right: 100px; /* Adjust horizontal position */
  background-color: #cce2cb; /* Optional background */
  border-radius: 8px; /* Rounded corners for the container */
  z-index: 1000; /* Ensure it appears above the map */
}

#showFilterButton {
    position: absolute;
    bottom: 110px;
    right: 100px;
    z-index: 1000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  #showFilterButton:hover {
    background-color: #0056b3;
  }

.filter-button {
  margin: 0; /* Reset default margins */
  padding: 10px 20px; /* Adjust padding inside the button */
  background-color: #cce2cb; /* Default background color */
  color: var(--text-color); /* Default text color */
  border: 1px solid #cce2cb; /* Optional border */
  border-radius: 5px; /* Rounded corners for buttons */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth hover effect */
}
/*Dark mode colors*/
[data-theme="dark"].filter-button {
 background-color: #000;
 color: #000 ;
}
.filter-button:hover {
  background-color: #007bff; /* Hover background color */
  color: #fff; /* Hover text color */
}

.filter-button.active {
  background-color: #007bff; /* Active background color */
  color: #fff; /* Active text color */
}

[Data-theme="dark"].filter-button.active {
  background-color: #000; /* Active background color */
  color: #000;
}

.filter-button:first-child {
  margin-left: 0; /* No left margin for the first button */
}

.filter-button:last-child {
  margin-right: 0; /* No right margin for the last button */
}

.mapfavorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: gold;
  z-index: 10; /* Ensure it appears above other elements */
}

.favorite-button:hover {
  transform: scale(1.2);
}

.dropdown-arrow::after {
  font-family: FontAwesome;
  font-size: 1.5rem;
  content: "\f107";
  padding-left: 8px;
}

@media screen and (max-width: 932px) {
    .header-title-line {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 2.7rem 27%;
    }
  
    .header__img {
      display: block;
      position: absolute; 
      top: 0; 
      right: 10px;     
      list-style: none; 
      margin: 0; 
      padding: 0; 
      text-align: center; 
    }
  
    .li__img {
      display: none;
    }
  
    .menu-button {
        background-color: transparent;
        border: none;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        margin: 0.5rem;
        z-index: 1000; 
    }
  
  
    .menu-icon, 
    .menu-icon::before, 
    .menu-icon::after {
        background-color: #000;
        width: 40px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        transition: all 0.5s;
    }
  
    .menu-icon::before,
    .menu-icon::after {
        content: "";
    }
  
    .menu-icon::before {
        transform: translate(-20px, -12px);
    }
  
    .menu-icon::after {
        transform: translate(-20px, 12px);
    }
  
    header.active .menu-icon {
        background-color: transparent;
        transform: rotate(360deg);
    }
  
    header.active .menu-icon::before {
        transform: translateX(-20px) rotate(45deg);
    }
  
    header.active .menu-icon::after {
        transform: translateX(-20px) rotate(-45deg);
    }
  
    header.active nav {
        display: block;
    }
  
    nav {
      position: relative;
      background-color: var(--HEADER-BGCOLOR, #fff);
      display: none;
      animation: showMenu 0.5s ease-in-out forwards;
      width: 100%;
    }
  
    nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%; 
      display: flex;
      flex-direction: column; 
      align-items: stretch; 
    }
  
    nav li {
      border-top: 1px solid #000; 
      width: 100%; 
    }
  
    nav a {
      display: block;
      width: 100%; 
      padding: 0.5rem; 
      text-align: center; 
      text-decoration: none; 
      color: var(--HEADER-COLOR, #000); 
    }
  
    .header__ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column; 
      align-items: stretch; 
    }
  
    .header__li {
      align-self: center;
      padding: 1rem;
      border-top: 1px solid #000; 
      text-align: center;
      width: 100%; 
      line-height: 0.8;
    }
  
    .program.header__li {
      border-top: none;
    }
  
    .dropdown {
      position: relative; 
    }
  
    .dropdown-content {
      position: static; 
      right: 0; 
      top: 100%; 
      display: none;
      background-color: #fff; 
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
      z-index: 1000; 
      padding: 0.5rem;
      min-width: 100%; 
      animation: showMenu 0.5s ease-in-out forwards;
    }
  
    .dropdown-content ul {
      margin: 0;
      padding: 0;
      list-style-type: none; 
    }
  
    .dropdown-content ul li {
      padding: 0.5rem 0rem;
      border-top: none;
      line-height: 1;
    }
  
    .dropdown-content ul li a {
      text-decoration: none;
      color: #333; 
      display: block;
    }
  
    .dropdown-content ul li a:hover {
      background-color: #f0f0f0; 
    }
}
